SUBSYSTEM=="net", DEVPATH=="/devices/platform/*usb/usb1/1-1/1-1.1/*", NAME="net1"
SUBSYSTEM=="net", DEVPATH=="/devices/platform/*usb/usb1/1-1/1-1.2/*", NAME="xf1"
SUBSYSTEM=="net", DEVPATH=="/devices/platform/*usb/usb1/1-1/1-1.3/*", NAME="xf2"
SUBSYSTEM=="net", DEVPATH=="/devices/platform/*usb/usb1/1-1/1-1.4/*", NAME="xf3"
SUBSYSTEM=="net", DEVPATH=="/devices/platform/*usb/usb1/1-1/1-1.5/"", NAME="home"